.stories > img {
    display: flex;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 556px) {
    .stories > img:not(:first-child) {
        display: none;
    }
}

@media screen and (min-width: 557px) {
    .stories {
        display: flex;
        align-items: center;
    }

    .stories:nth-of-type(3) {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 557px) and (max-width: 1000px) {
    .stories > img:not(:nth-child(2)) {
        display: none;
    }
}

@media screen and (min-width: 1001px) {
    .stories > img:not(:nth-child(3)) {
        display: none;
    }
}

.stories div {
    position: relative;
    padding-block: 72px;
    padding-inline: 33px;
}

.stories div {
    color: var(--clr-text-black);
}

.stories div > h2 {
    color: var(--clr-black);
    font: var(--font-h1);
    letter-spacing: var(--space-h1);
    margin-bottom: 16px;
}

.stories div > button {
    margin-top: 23px;
}

.featured_stories {
    display: grid;
}

@media screen and (min-width: 557px) {
    .featured_stories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .featured_stories {
        grid-template-columns: repeat(4, 1fr);
    }
}

.featured_stories p:first-child {
    display: none;
}