@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --clr-black: #000;
  --clr-grey: #DFDFDF;
  --clr-white: #FFF;
  --clr-border: #00000040;
  --gradient-main: linear-gradient(45deg, #FFC593, #BC7198, #5A77FF);
  --font-h1: bold 40px/48px 'DM Sans', Arial, sans-serif;
  --font-h2: bold 24px/25px 'DM Sans', Arial, sans-serif;
  --font-h3: bold 18px/25px 'DM Sans', Arial, sans-serif;
  --font-h4: bold 12px/16px 'DM Sans', Arial, sans-serif;
  --font-body: 15px/25px 'DM Sans', Arial, sans-serif;
  --space-h1: 4.17ch;
  --space-h4: 2ch; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: var(--font-body);
}