.invite {
    position: relative;
    display: block;
    gap: 24px;
    height: 288px;
    width: 100%;
    padding-inline: 33px;
    padding-top: 64px;
    color: var(--clr-white);
    background-image: url('../../assets/mobile-images/invite.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.invite h2 {
    font: var(--font-h1);
    letter-spacing: var(--space-h1);
    margin-bottom: 24px;
}

.invite::after {
    content: '';
    position: absolute;
    top: 0;
    left: 33px;
    width: 128px;
    height: 6px;
    background: var(--gradient-main);
}

@media screen and (min-width: 641px) {
    .invite {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
    }

    .invite h2 {
        width: 50%;
        margin-bottom: 0;
    }

    .invite::after {
        left: 0;
        height: 100%;
        width: 6px;
    }
}