.black_btn,
.white_btn,
.black_arrow_btn,
.white_arrow_btn {
    font-family: 'DM Sans', Arial, sans-serif;
}

.black_btn,
.white_btn {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 0;
    height: 48px;
}

@media screen and (min-width: 481px) {
    .black_btn,
    .white_btn {
        font-size: 12px;
        letter-spacing: 2px;
    }
}

.black_arrow_btn,
.white_arrow_btn {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
}

.black_btn,
.white_arrow_btn {
    color: var(--clr-white);
}

.black_btn {
    background-color: var(--clr-black);
}

.white_btn,
.black_arrow_btn {
    color: var(--clr-black);
}

.white_btn {
    background-color: var(--clr-white);
}

.black_arrow_btn > svg {
    stroke: var(--clr-black);
}

.white_arrow_btn > svg {
    stroke: var(--clr-white);
}

.black_btn:is(:hover, :focus),
.white_btn:is(:hover, :focus) {
    color: var(--clr-black);
    background-color: var(--clr-grey);
}

.white_arrow_btn:is(:hover, :focus),
.black_arrow_btn:is(:hover, :focus) {
    text-decoration: underline;
}