.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 1 / 1;
    width: 100%;
    padding-inline: 33px;
    padding-bottom: 40px;
    color: var(--clr-white);
    isolation: isolate;
}

@media screen and (min-width: 557px) {
    .card {
        height: 500px;
        width: 50vw;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        width: 25vw;
    }

    a:has(.card) {
        position: relative;
        transition: transform 0.15s ease-in-out;
    }

    a:has(.card):is(:hover, :focus) {
        transform: translateY(-24px);
    }

    a:has(.card):is(:hover, :focus)::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: var(--gradient-main);
    }
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, #000000a9);
    z-index: -1;
}

.card h3 {
    margin-block: 4px;
}

.card hr {
    margin-top: 16px;
    margin-bottom: 20px;
    border: 1px solid var(--clr-white);
    opacity: 0.25;
}

.card button {
    width: 100%;
    justify-content: space-between;
}