.nav {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: fit-content;
    padding-block: 32px;
    padding-inline: 33px;
    background-color: var(--clr-white);
    transition: 0.3s ease-in-out;
    z-index: -2;
}

@media screen and (min-width: 769px) {
    .nav {
        position: static;
        padding: 0;
        width: fit-content;
        z-index: 5;
    }
}

.nav[aria-hidden='false'] {
    top: 72px;
}

.links {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--clr-border);
}

@media screen and (min-width: 769px) {
    .links {
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 37px;
        border-bottom: none;
    }
}

.links a {
    color: var(--clr-black);
    font-family: 'DM Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.nav button {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .nav button {
        width: 158px;
    }
}