.featured_story {
    display: flex;
    flex-direction: column;
}

.featured_content {
    padding-inline: 29px;
    padding-block: 48px;
    color: var(--clr-white);
}

@media screen and (max-width: 480px) {
    .featured_content {
        background-color: var(--clr-black);
    }
}

@media screen and (min-width: 481px) {
    .featured_story {
        justify-content: center;
        height: 650px;
        background-image: url(../../assets/tablet-images/moon-of-appalacia.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .featured_story > img {
        display: none;
    }

    .featured_content {
        padding: 0;
        margin-left: 39px;
        max-width: 387px;
    }
}

@media screen and (min-width: 769px) {
    .featured_story {
        background-image: url(../../assets/desktop-images/moon-of-appalacia.jpg);
    }

    .featured_content {
        margin-left: 112px;
    }
}

.featured_content > h1 {
    margin-block: 16px;
}

.featured_content > div {
    display: flex;
    gap: 9px;
    font-size: 13px;
}

.featured_content > div p:first-child {
    opacity: 0.75;
}

.featured_content > p {
    margin-block: 24px;
    opacity: 0.6;
}

.stories {
    display: grid;
}

@media screen and (min-width: 557px) {
    .stories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .stories {
        grid-template-columns: repeat(4, 1fr);
    }
}