.comparison {
    flex-direction: column;
    margin-block: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--clr-grey);
}

.comparison h2 {
    margin-bottom: 16px;
    font: var(--font-h4);
    letter-spacing: var(--space-h4);
}

.check_grid,
.title_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title_grid {
    margin-bottom: 8px;
}

.title_grid > h5 {
    font-family: inherit;
    font-size: 10px;
    letter-spacing: 1.67px;
    opacity: 0.5;
}