.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 72px;
    padding-inline: 24px;
    isolation: isolate;
    z-index: 10;
}

@media screen and (min-width: 769px) {
    .header {
        justify-content: space-between;
    }
}

.header > a {
    display: flex;
}

.header::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--clr-white);
    z-index: -1;
}