.footer {
    display: grid;
    padding-block: 56px;
    color: var(--clr-white);
    background-color: var(--clr-black);
}

.footer > div {
    display: flex;
    align-items: center;
}

.brand {
    gap: 32px;
}

.footer > svg path:first-child {
    fill: var(--clr-white);
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 154px;
}

.socials > svg path {
    fill: var(--clr-white);
}

.links {
    flex-direction: column;
    gap: 19px;
    margin-top: 49px;
    margin-bottom: 119px;
}

.links a {
    color: var(--clr-white);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.footer > div:last-child {
    flex-direction: column;
    gap: 34px;
}

.footer > div p {
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    .footer {
        justify-items: center;
    }

    .footer > svg {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 641px) {
    .footer {
        padding-inline: 39px;
    }

    .links {
        justify-content: flex-start;
        margin-top: 32px;
        margin-bottom: 72px;
    }

    .socials {
        grid-row: 3;
    }

    .links {
        grid-column: 1;
        flex-direction: row;
    }
    
    .footer > div:last-child {
        grid-column: 2;
        grid-row: 1 / span 3;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
    }
}