#root {
  height: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  font: var(--font-h1);
  letter-spacing: var(--space-h1);
}

h4 {
  font: var(--font-h4);
  letter-spacing: var(--space-h4);
}